header, main, footer{
    padding: 50px 0;
}
.navigation{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navigation__item{
    background-color: grey;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: 20px;
}
.main-food{
    padding: 50px;
    background-color: palevioletred;
}